<div class="container--large container--bordered" data-section-id="{{ section.id }}" data-section-type="quotes">
  {% if block.settings.title != blank %}
    <div class="section-header text-center">
      <h2>{{ block.settings.title | escape }}</h2>
    </div>
  {% endif %}
    <div class="quotes-wrapper">
      <div class="quotes-slider" id="Quotes-{{ section.id }}" data-count="{{ section.blocks.size }}">
           <!-- Témoignages 1 -->
            <div class="quotes-slide--{{ block.id }}" {{ block.shopify_attributes }}>
              <blockquote class="quotes-slider__text text-center">
                {% if block.settings.image-1 != blank %}
                <div class="QuotesBlockImage">
                   <img src="{{ block.settings.image-1 | img_url: 'master' }}" alt="{{ block.settings.image-1.alt }}">
                </div>
                {% endif %}
                <!-- <span class="quote-icon">{% include 'icon-quote' %}</span> -->
                {% if block.settings.quote-1 != blank %}
                  <div class="rte-setting rte">{{ block.settings.quote-1 }}</div>
                {% endif %}
                {% if block.settings.author-1 != blank %}
                  <cite>{{ block.settings.author-1 | escape }}</cite>
                {% endif %}
              </blockquote>
            </div>

          <!-- Témoignages 2 -->
             <div class="quotes-slide--{{ block.id }}" {{ block.shopify_attributes }}>
               <blockquote class="quotes-slider__text text-center">
                 {% if block.settings.image-2 != blank %}
                  <div class="QuotesBlockImage">
                    <img src="{{ block.settings.image-2 | img_url: 'master' }}" alt="{{ block.settings.image-2.alt }}">
                  </div>
                 {% endif %}                 <!-- <span class="quote-icon">{% include 'icon-quote' %}</span> -->
                 {% if block.settings.quote-2 != blank %}
                   <div class="rte-setting rte">{{ block.settings.quote-2 }}</div>
                 {% endif %}
                 {% if block.settings.author-2 != blank %}
                   <cite>{{ block.settings.author-2 | escape }}</cite>
                 {% endif %}
               </blockquote>
             </div>

          <!-- Témoignages 3 -->
                <div class="quotes-slide--{{ block.id }}" {{ block.shopify_attributes }}>
                  <blockquote class="quotes-slider__text text-center">
                    {% if block.settings.image-3 != blank %}
                     <div class="QuotesBlockImage">
                       <img src="{{ block.settings.image-3 | img_url: 'master' }}" alt="{{ block.settings.image-3.alt }}">
                     </div>
                    {% endif %}                    <!-- <span class="quote-icon">{% include 'icon-quote' %}</span> -->
                    {% if block.settings.quote-3 != blank %}
                      <div class="rte-setting rte">{{ block.settings.quote-3 }}</div>
                    {% endif %}
                    {% if block.settings.author-3 != blank %}
                      <cite>{{ block.settings.author-3 | escape }}</cite>
                    {% endif %}
                  </blockquote>
                </div>
      </div>
    </div>
</div>
