<style>
  #spin {
    color:{{ section.settings.color-spin }};
  }
</style>
<section id="section-{{ section.id }}" class="section relative" data-section-id="{{ section.id }}" data-section-type="banner">
  <div class="container container--bordered">
    <div class="hero hero--medium">
      <div id="banner-text" class="hero__inner">
        <div class="page-width text-center" data-aos="fade-up" data-aos-easing="ease-in-out">
          {%- if section.settings.title != blank -%}
            <h2 id="mega-title" class="h1 banner-mega-title{% if section.settings.text_size == 'large' %} mega-title--large{% endif %}">{{ section.settings.title }}</h2>
          {%- endif -%}
        </div>
     </div>
    </div>
    <div class="KeepGoing align-center">
      {% if  section.settings.next != blank %}
        <span class="KeepGoingText">{{ section.settings.next }}</span>
      {% endif %}
      <svg class="arrows">
         <path class="a1" d="M0 0 L15 10 L30 0"></path>
         <path class="a2" d="M0 20 L15 30 L30 20"></path>
         <!-- <path class="a3" d="M0 40 L10 52 L20 40"></path>  -->
      </svg>
    </div>

    {% if section.settings.image != blank %}
    <div id="shoe" class="ShoeImage desktop-only">
      <img src="{{section.settings.image | img_url:'master' }}" alt="">
    </div>
    {% endif %}
    {% if section.settings.image-2 != blank %}
      <div id="watch" class="WatchImage desktop-only">
        <img src="{{section.settings.image-2 | img_url:'master' }}" alt="">
      </div>
    {% endif %}
    {% if section.settings.image-3 != blank %}
      <div id="rimmel" class="RimmelImage desktop-only">
        <img src="{{section.settings.image-3 | img_url:'master' }}" alt="">
      </div>
    {% endif %}
  </div>
</section>
<script>
    AOS.init();
</script>



{% schema %}
{
  "name": "Banner intro",
  "settings": [

     {
       "type": "textarea",
       "id": "title",
       "label": "Title",
       "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor"
     },
     {
       "type": "text",
       "id": "next",
       "label": "Keep goign text",
       "default": "Know more about us"
     },
     {
       "type": "color",
       "id": "color-spin",
       "label": "Color spin text",
       "default": "#FDDB58"
     },
     {
       "type": "image_picker",
       "id": "image",
       "label": "Image right side"
     },
     {
       "type": "image_picker",
       "id": "image-2",
       "label": "Image left side"
     },
     {
       "type": "image_picker",
       "id": "image-3",
       "label": "Image left side down"
     }
  ],
  "presets": [
		{
			"name": "Banner Agency",
			"category": "Text"
		}
	]
}
{% endschema %}
