<section data-section-id="{{ section.id }}" data-section-type="quotes">
  <div class="container--large container--bordered">
    <div class="hero hero--{{ section.settings.hero_size }} quotes-container">
    <div class="hero__inner">
     {% if section.blocks.size > 0 %}
    <div class="quotes-wrapper">
      <div class="quotes-slider" id="Quotes-{{ section.id }}" data-count="{{ section.blocks.size }}" data-aos="fade-up" data-aos-duration="4000">
        {% for block in section.blocks %}
          {%- assign img_url = block.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
          <div class="quotes-slide--{{ block.id }}" {{ block.shopify_attributes }}  >
            <blockquote class="quotes-slider__text text-center">
              {% if block.settings.image != blank %}
              <div class="quotes--image">
                <img id="{{ img_id }}"
                     class="full-width lazyload"
                     src="{{ block.settings.image | img_url: '300x300' }}"
                     data-src="{{ img_url }}"
                     data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                     data-aspectratio="{{ block.settings.image.aspect_ratio }}"
                     data-sizes="auto"
                     alt="{{ block.settings.image.alt | escape }}">
              </div>
              {% endif %}
              <!-- <span class="quote-icon">{% include 'icon-quote' %}</span> -->
              {% if block.settings.quote != blank %}
                <div class="quotes-title h5">{{ block.settings.quote }}</div>
              {% endif %}
              {% if block.settings.author != blank %}
                <cite>{{ block.settings.author | escape }}</cite>
              {% endif %}
            </blockquote>
          </div>
        {% endfor %}
         </div>
        </div>
      </div>
    </div>
  {% endif %}

  {% if section.blocks.size == 0 %}
    {% include 'no-blocks' %}
  {% endif %}
  </div>
</div>



{% schema %}
{
  "name": {
    "da": "Udtalelser",
    "de": "Testimonials",
    "en": "Testimonials",
    "es": "Testimonios",
    "fi": "Suositukset",
    "fr": "Témoignages",
    "hi": "प्रमाणपत्र",
    "it": "Testimonial",
    "ja": "お客様の声",
    "ko": "추천",
    "nb": "Tilbakemeldinger fra kunder",
    "nl": "Getuigenissen",
    "pt-BR": "Depoimentos",
    "pt-PT": "Depoimentos",
    "sv": "Kundberättelser",
    "th": "เสียงชื่นชมจากลูกค้า",
    "zh-CN": "感言",
    "zh-TW": "推薦文"
  },
  "max_blocks": 9,
  "settings": [
  {
    "type": "select",
    "id": "hero_size",
    "label": {
      "da": "Højde på afsnit",
      "de": "Bereichs-Höhe",
      "en": "Section height",
      "es": "Altura de la sección",
      "fi": "Osan korkeus",
      "fr": "Hauteur de la section",
      "hi": "सेक्शन की ऊंचाई",
      "it": "Altezza sezione",
      "ja": "セクションの高さ",
      "ko": "섹션 높이",
      "nb": "Høyde på del",
      "nl": "Sectiehoogte",
      "pt-BR": "Altura da seção",
      "pt-PT": "Altura da secção",
      "sv": "Sektionshöjd",
      "th": "ความสูงของส่วน",
      "zh-CN": "分区高度",
      "zh-TW": "區塊高度"
    },
    "default": "medium",
    "options": [
      {
        "label": {
          "da": "Tilpas til billede",
          "de": "An Bild anpassen",
          "en": "Adapt to image",
          "es": "Adaptar a la imagen",
          "fi": "Sovita kuvaan",
          "fr": "S'adapter à l'image",
          "hi": "इमेज के अनुकूल बनाएं",
          "it": "Adatta all'immagine",
          "ja": "画像に対応",
          "ko": "이미지에 맞춤",
          "nb": "Tilpass til bilde",
          "nl": "Aanpassen aan afbeelding",
          "pt-BR": "Adaptar à imagem",
          "pt-PT": "Adaptar à imagem",
          "sv": "Anpassa till bild",
          "th": "ปรับตามรูปภาพ",
          "zh-CN": "适应图片",
          "zh-TW": "配合圖片"
        },
        "value": "adapt"
      },
      {
        "label": {
          "da": "Ekstra lille",
          "de": "Extra klein",
          "en": "Extra Small",
          "es": "Extra pequeña",
          "fi": "Erikoispieni",
          "fr": "Très petite",
          "hi": "अतिरिक्त छोटा",
          "it": "Molto piccola",
          "ja": "極小",
          "ko": "특소",
          "nb": "Ekstra liten",
          "nl": "Extra klein",
          "pt-BR": "Extra pequeno",
          "pt-PT": "Extra pequeno",
          "sv": "Extra liten",
          "th": "ขนาดเล็กพิเศษ",
          "zh-CN": "特小",
          "zh-TW": "超小型"
        },
        "value": "x-small"
      },
      {
        "label": {
          "da": "Lille",
          "de": "Klein",
          "en": "Small",
          "es": "Pequeña",
          "fi": "Pieni",
          "fr": "Petite",
          "hi": "छोटा",
          "it": "Small",
          "ja": "小",
          "ko": "스몰",
          "nb": "Liten",
          "nl": "Klein",
          "pt-BR": "Pequeno",
          "pt-PT": "Pequeno",
          "sv": "Liten",
          "th": "เล็ก",
          "zh-CN": "小",
          "zh-TW": "小型"
        },
        "value": "small"
      },
      {
        "label": {
          "da": "Medium",
          "de": "Mitte",
          "en": "Medium",
          "es": "Mediana",
          "fi": "Keskisuuri",
          "fr": "Moyenne",
          "hi": "मध्यम",
          "it": "Medium",
          "ja": "中",
          "ko": "보통",
          "nb": "Middels",
          "nl": "Gemiddeld",
          "pt-BR": "Médio",
          "pt-PT": "Médio",
          "sv": "Medium",
          "th": "ปานกลาง",
          "zh-CN": "中等",
          "zh-TW": "中等"
        },
        "value": "medium"
      },
      {
        "label": {
          "da": "Stor",
          "de": "Groß",
          "en": "Large",
          "es": "Grande",
          "fi": "Suuri",
          "fr": "Grande",
          "hi": "बड़ा",
          "it": "Large",
          "ja": "大",
          "ko": "라지",
          "nb": "Stor",
          "nl": "Groot",
          "pt-BR": "Grande",
          "pt-PT": "Grande",
          "sv": "Stor",
          "th": "ใหญ่",
          "zh-CN": "大",
          "zh-TW": "大型"
        },
        "value": "large"
      },
      {
        "label": {
          "da": "Ekstra stor",
          "de": "Extra groß",
          "en": "Extra Large",
          "es": "Extra grande",
          "fi": "Erikoissuuri",
          "fr": "Très grande",
          "hi": "अतिरिक्त बड़ा",
          "it": "Molto grande",
          "ja": "特大",
          "ko": "특대",
          "nb": "Ekstra stort",
          "nl": "Extra groot",
          "pt-BR": "Extra grande",
          "pt-PT": "Extra grande",
          "sv": "Extra stor",
          "th": "ขนาดใหญ่พิเศษ",
          "zh-CN": "特大",
          "zh-TW": "超大型"
        },
        "value": "x-large"
      }
    ]
  }

  ],
  "blocks": [

    {
      "type": "quote",
      "name": {
        "da": "Udtalelse",
        "de": "Testimonial",
        "en": "Testimonial",
        "es": "Testimonio",
        "fi": "Suositukset",
        "fr": "Témoignages",
        "hi": "प्रमाणपत्र",
        "it": "Testimonial",
        "ja": "お客様の声",
        "ko": "추천",
        "nb": "Anbefaling",
        "nl": "Testimonial",
        "pt-BR": "Depoimento",
        "pt-PT": "Testemunho",
        "sv": "Kundberättelser",
        "th": "เสียงชื่นชมจากลูกค้า",
        "zh-CN": "感言",
        "zh-TW": "推薦文"
      },
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "richtext",
          "id": "quote",
          "label": {
            "da": "Tekst",
            "de": "Text",
            "en": "Text",
            "es": "Texto",
            "fi": "Teksti",
            "fr": "Texte",
            "hi": "टेक्स्ट",
            "it": "Testo",
            "ja": "テキスト",
            "ko": "텍스트",
            "nb": "Tekst",
            "nl": "Tekst",
            "pt-BR": "Texto",
            "pt-PT": "Texto",
            "sv": "Text",
            "th": "ข้อความ",
            "zh-CN": "文本",
            "zh-TW": "文字"
          },
          "default": {
            "da": "<p>Tilføj kundeanmeldelser og udtalelser for at fremhæve din butiks tilfredse kunder.</p>",
            "de": "<p>Kunden-Reviews und Testimonials, die Kundenzufriedenheit beweisen.</p>",
            "en": "<p>Add customer reviews and testimonials to showcase your store’s happy customers.</p>",
            "es": "<p>Agrega las reseñas y los testimonios de los clientes para mostrar a los clientes satisfechos de tu tienda.</p>",
            "fi": "<p>Lisää asiakasarviointeja ja suositteluja esimerkeiksi myymäläsi tyytyväisistä asiakkaista.</p>",
            "fr": "<p>Ajoutez des avis et témoignages pour mettre en avant vos clients satisfaits.</p>",
            "hi": "<p>अपने स्टोर के खुश ग्राहकों को दिखाने के लिए ग्राहक समीक्षा और प्रशंसापत्र जोड़ें.</p>",
            "it": "<p>Aggiungi recensioni e testimonianze sul tuo negozio per dimostrare che i clienti sono soddisfatti.</p>",
            "ja": "<p>あなたのストアの幸せなお客様を紹介するために、カスタマーレビューとお客様の声を追加してください。</p>",
            "ko": "<p>고객 리뷰 및 추천을 추가하여 스토어에 만족한 고객을 보여주십시오.</p>",
            "nb": "<p>Legg til kundeomtaler og anbefalinger for å vise frem butikkens glade kunder.</p>",
            "nl": "<p>Voeg beoordelingen van klanten en testimonials toe om te laten zien dat uw klanten tevreden zijn.</p>",
            "pt-BR": "<p>Adicione comentários e depoimentos para dar destaque aos clientes satisfeitos com a sua loja.</p>",
            "pt-PT": "<p>Adicione análises e testemunhos para mostrar os clientes felizes da sua loja.</p>",
            "sv": "<p>Lägg till kundrecensioner och berättelser för att visa upp din butiks nöjda kunder.</p>",
            "th": "<p>เพิ่มรีวิวและเสียงชื่นชมจากลูกค้าเพื่อนำเสนอลูกค้าที่ได้รับความพึงพอใจจากร้านค้า</p>",
            "zh-CN": "<p>添加客户评论和感言，以展示对您的商店满意的客户。</p>",
            "zh-TW": "<p>新增顧客評論和推薦文，展示對您商店滿意之顧客。</p>"
          }
        },
        {
          "type": "text",
          "id": "author",
          "label": {
            "da": "Forfatter",
            "de": "Autor",
            "en": "Author",
            "es": "Autor",
            "fi": "Kirjoittaja",
            "fr": "Auteur",
            "hi": "लेखक",
            "it": "Autore",
            "ja": "執筆者",
            "ko": "작성자",
            "nb": "Forfatter",
            "nl": "Auteur",
            "pt-BR": "Autoria",
            "pt-PT": "Autoria",
            "sv": "Upphovsman",
            "th": "ผู้เขียน",
            "zh-CN": "作者",
            "zh-TW": "作者"
          },
          "default": {
            "da": "Forfatterens navn",
            "de": "Name des Autors",
            "en": "Author's name",
            "es": "Nombre del autor",
            "fi": "Kirjoittajan nimi",
            "fr": "Nom de l'auteur",
            "hi": "लेखक का नाम",
            "it": "Nome dell'autore",
            "ja": "筆者の名前",
            "ko": "작성자 이름",
            "nb": "Forfatterens navn",
            "nl": "Naam auteur",
            "pt-BR": "Nome do autor",
            "pt-PT": "Nome do autor",
            "sv": "Författarens namn",
            "th": "ชื่อผู้เขียน",
            "zh-CN": "作者姓名",
            "zh-TW": "作者名稱"
          }
        }
      ]
    }
  ],
  "presets": [
    {
      "name": {
        "da": "Udtalelser",
        "de": "Testimonials",
        "en": "Testimonials",
        "es": "Testimonios",
        "fi": "Suositukset",
        "fr": "Témoignages",
        "hi": "प्रमाणपत्र",
        "it": "Testimonial",
        "ja": "お客様の声",
        "ko": "추천",
        "nb": "Tilbakemeldinger fra kunder",
        "nl": "Getuigenissen",
        "pt-BR": "Depoimentos",
        "pt-PT": "Depoimentos",
        "sv": "Kundberättelser",
        "th": "เสียงชื่นชมจากลูกค้า",
        "zh-CN": "感言",
        "zh-TW": "推薦文"
      },
      "category": {
        "da": "Tekst",
        "de": "Text",
        "en": "Text",
        "es": "Texto",
        "fi": "Teksti",
        "fr": "Texte",
        "hi": "टेक्स्ट",
        "it": "Testo",
        "ja": "テキスト",
        "ko": "텍스트",
        "nb": "Tekst",
        "nl": "Tekst",
        "pt-BR": "Texto",
        "pt-PT": "Texto",
        "sv": "Text",
        "th": "ข้อความ",
        "zh-CN": "文本",
        "zh-TW": "文字"
      },
      "blocks": [
        {
          "type": "quote"
        },
        {
          "type": "quote"
        },
        {
          "type": "quote"
        }
      ]
    }
  ]
}
{% endschema %}
