<style>
  {% if section.settings.background-image %}
    #section-{{ section.id }} .TextCenteredBackground{
      background-image: url("{{ section.settings.background-image | img_url:'master' }}");
     } 
  {% endif%}
</style>
<section id="section-{{ section.id }}" class="relative section-text-centered" data-section-id="{{ section.id }}" data-section-type="text-centered">
  <div class="container container--bordered TextCenteredBackground">
    <div class="hero hero--{{ section.settings.hero_size }} ">
      <div id="banner-text" class="hero__inner " data-aos="fade-up" data-aos-duration="4000" data-aos-easing="ease-in-out">
        <div class="page-width text-center" >
          {%- if section.settings.text != blank -%}
             <h2 id="mega-title" class="h1 TextCenteredTitle{% if section.settings.text_size == 'large' %} mega-title--large{% endif %}">{{ section.settings.text }}</h2>
          {%- endif -%}
          {% if section.settings.arrow %}
            <div class="arrowDown relative">
              {% render 'icon-arrow-down' %}
            </div>
          {% endif %}
          {% if section.settings.button %}
            <div class="TextCenteredButton" data-aos="fade-up" data-aos-duration="4000">
              <div class="button button-custom">
                 <div class="button-slide"></div>
                 <a href="{{ section.settings.url }}">{{ section.settings.button-text }}</a>
              </div>
            </div>
          {% endif %}
        </div>
     </div>
    </div>
  </div>
</section>
{% schema %}
{
  "name": "Text centered",
  "settings": [
  {
    "type": "select",
    "id": "hero_size",
    "label": {
      "da": "Højde på afsnit",
      "de": "Bereichs-Höhe",
      "en": "Section height",
      "es": "Altura de la sección",
      "fi": "Osan korkeus",
      "fr": "Hauteur de la section",
      "hi": "सेक्शन की ऊंचाई",
      "it": "Altezza sezione",
      "ja": "セクションの高さ",
      "ko": "섹션 높이",
      "nb": "Høyde på del",
      "nl": "Sectiehoogte",
      "pt-BR": "Altura da seção",
      "pt-PT": "Altura da secção",
      "sv": "Sektionshöjd",
      "th": "ความสูงของส่วน",
      "zh-CN": "分区高度",
      "zh-TW": "區塊高度"
    },
    "default": "medium",
    "options": [
      {
        "label": {
          "da": "Tilpas til billede",
          "de": "An Bild anpassen",
          "en": "Adapt to image",
          "es": "Adaptar a la imagen",
          "fi": "Sovita kuvaan",
          "fr": "S'adapter à l'image",
          "hi": "इमेज के अनुकूल बनाएं",
          "it": "Adatta all'immagine",
          "ja": "画像に対応",
          "ko": "이미지에 맞춤",
          "nb": "Tilpass til bilde",
          "nl": "Aanpassen aan afbeelding",
          "pt-BR": "Adaptar à imagem",
          "pt-PT": "Adaptar à imagem",
          "sv": "Anpassa till bild",
          "th": "ปรับตามรูปภาพ",
          "zh-CN": "适应图片",
          "zh-TW": "配合圖片"
        },
        "value": "adapt"
      },
      {
        "label": {
          "da": "Ekstra lille",
          "de": "Extra klein",
          "en": "Extra Small",
          "es": "Extra pequeña",
          "fi": "Erikoispieni",
          "fr": "Très petite",
          "hi": "अतिरिक्त छोटा",
          "it": "Molto piccola",
          "ja": "極小",
          "ko": "특소",
          "nb": "Ekstra liten",
          "nl": "Extra klein",
          "pt-BR": "Extra pequeno",
          "pt-PT": "Extra pequeno",
          "sv": "Extra liten",
          "th": "ขนาดเล็กพิเศษ",
          "zh-CN": "特小",
          "zh-TW": "超小型"
        },
        "value": "x-small"
      },
      {
        "label": {
          "da": "Lille",
          "de": "Klein",
          "en": "Small",
          "es": "Pequeña",
          "fi": "Pieni",
          "fr": "Petite",
          "hi": "छोटा",
          "it": "Small",
          "ja": "小",
          "ko": "스몰",
          "nb": "Liten",
          "nl": "Klein",
          "pt-BR": "Pequeno",
          "pt-PT": "Pequeno",
          "sv": "Liten",
          "th": "เล็ก",
          "zh-CN": "小",
          "zh-TW": "小型"
        },
        "value": "small"
      },
      {
        "label": {
          "da": "Medium",
          "de": "Mitte",
          "en": "Medium",
          "es": "Mediana",
          "fi": "Keskisuuri",
          "fr": "Moyenne",
          "hi": "मध्यम",
          "it": "Medium",
          "ja": "中",
          "ko": "보통",
          "nb": "Middels",
          "nl": "Gemiddeld",
          "pt-BR": "Médio",
          "pt-PT": "Médio",
          "sv": "Medium",
          "th": "ปานกลาง",
          "zh-CN": "中等",
          "zh-TW": "中等"
        },
        "value": "medium"
      },
      {
        "label": {
          "da": "Stor",
          "de": "Groß",
          "en": "Large",
          "es": "Grande",
          "fi": "Suuri",
          "fr": "Grande",
          "hi": "बड़ा",
          "it": "Large",
          "ja": "大",
          "ko": "라지",
          "nb": "Stor",
          "nl": "Groot",
          "pt-BR": "Grande",
          "pt-PT": "Grande",
          "sv": "Stor",
          "th": "ใหญ่",
          "zh-CN": "大",
          "zh-TW": "大型"
        },
        "value": "large"
      },
      {
        "label": {
          "da": "Ekstra stor",
          "de": "Extra groß",
          "en": "Extra Large",
          "es": "Extra grande",
          "fi": "Erikoissuuri",
          "fr": "Très grande",
          "hi": "अतिरिक्त बड़ा",
          "it": "Molto grande",
          "ja": "特大",
          "ko": "특대",
          "nb": "Ekstra stort",
          "nl": "Extra groot",
          "pt-BR": "Extra grande",
          "pt-PT": "Extra grande",
          "sv": "Extra stor",
          "th": "ขนาดใหญ่พิเศษ",
          "zh-CN": "特大",
          "zh-TW": "超大型"
        },
        "value": "x-large"
      }
    ]
  },
      {
        "type": "textarea",
        "id": "text",
        "label": "Text",
        "default": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> "
      },
      {
        "type": "checkbox",
        "id": "arrow",
        "label": "Display arrow",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "button",
        "label": "Display button",
        "default": false
      },
      {
        "type": "text",
        "id": "button-text",
        "label": "Text boton",
        "default": "Je veux m'inscrire"
      },
      {
        "type": "url",
        "id": "url",
        "label": "Link"
      },
      {
        "type": "image_picker",
        "id": "background-image",
        "label": "Background Image"
      }
  ],
  "presets": [
		{
			"name": "Text centered",
			"category": "Text"
		}
	]
}
{% endschema %}
